body{
    background-color: rgb(24, 24, 24);
}
h1{
    text-align: center;
    color: whitesmoke;
}
.gameBoard{
    margin-top: 5%;
}
.gameTable{
    align-self: center;
    width: 50%;
}
.gameImg{
    height: 250px;
    width: 250px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    -user-drag: none;
    border-radius: 10px;
    border-color: whitesmoke;
    float: right;
    object-fit: cover;
    filter: grayscale();
}

.selected{
    filter: none;

}
